.sec-4 {
  margin-bottom: 4rem;
}

.products {
  background-color: rgb(240, 235, 235);
  .para {
    text-align: center;
  }

  .product-icon {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  h2 {
    font-size: 2rem;
    font-family: "Alfa Slab One", cursive;
    margin-top: 5rem;
    padding-top: 4rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  h4 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 1rem;
  }
  p {
    padding-bottom: 4rem;
    margin-top: 1rem;
  }

  .icon-1 {
    width: 33%;
  }
  hr {
    width: 85%;
  }
}
.deals {
  background-color: #dc3c45;
  color: white;
  align-items: center;
  padding: 2rem 0;
  span {
    display: inline-block;
    margin-top: 2rem;
  }
  a {
    display: inline-block;
    margin-top: 2rem;
    background-color: white;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    color: white;
    background-color: #dc3c45;
    border-radius: 1.5rem;
    border: 1px solid white;
  }
}
.best-award {
  h4 {
    font-size: 2rem;
    font-family: "Alfa Slab One", cursive;
    margin-bottom: 1rem;
  }
  p {
    padding: 0.5rem 0;
  }
}
